---
- name: "Install nodejs"
  hosts: localhost
  become: yes
  tasks:
    - name: Linux - Instalando NodeJS e NPM
      package:
        name:
          - nodejs
          - npm
        state: present